<html>
    <head>
        <title>About</title>
                <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Shaan. It uses data APIs from <a href="https://www.mapbox.com/" target="_blank">MapBox</a> and 
                <a href="https://weatherstack.com/" target="_blank">weatherstack</a>. 
            </p>

            <img class="portrait" src="./img/robot.png">
        </div>  
       {{>footer}}
    </body>
</html>

