<head>
    <title>Error Page</title>
            <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    
<div class="main-content">
        {{>header}}
        <p>{{errorMsg}}</p>

</div>


<div>
    {{>footer}}
</div>